@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.btn-color{
    background-color: blueviolet;
    color: azure;
}
.row{
    justify-content: space-evenly;
}
.card{
    background-color: #9ACAB4;
}
.btn:hover {
    color:bisque; 
    background-color:  rgb(80, 134, 80);
    border-color: var(--bs-btn-hover-border-color);
}

.carrusel-padre{
    width: 45vw;
    margin: 0 auto;
}

.flex-fill{
  flex: 1 auto -33px;
}
body {
  min-height:99vh;
  overflow: hidden;
  
}
.alto{
  min-height:65vh;
}
.nav-link:focus .nav-link:hover {
color: aliceblue;
}
.alto-img-carru{
  min-height: 45vh;
}

/* menu-footer */
.menu-footer{
	list-style: inside none;
	text-align: left;
	}
.menu-footer>li{
	display: inline-block;
    list-style: none;
    color: #3e3e3e;
    margin-right: 25px;
	}
.copyright{
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color:  rgba( 251, 251, 251, 1 );
    font-size: 12px;
    text-align: right;
    font-weight: 700;
}
a:hover, a:focus{
  color: rgba( 251, 251, 251, 1 );
}
  footer.footer-style-3 .footer-left .copyright p a:hover, footer.footer-style-3 .backtotop:hover span {
    color: rgba( 251, 251, 251, 1 );
}
footer.footer-style-4 .backtotop:hover span {
    color: rgba( 251, 251, 251, 1 );
}
.footer-style-4 .menu-footer a:hover::before {
    color: rgba( 251, 251, 251, 1 );
}
.footer-style-4 .footer-top .copyright p a:hover {
    color: rgba( 251, 251, 251, 1 );
}
.screen-reader-text{
  clip:rect(1px,1px,1px,1px);
  position:absolute!important;
  height:1px;
  width:1px;
  overflow:hidden}

  .screen-reader-text:focus{
    clip:auto!important;
    display:block;
    height:auto;
    left:5px;
    top:5px;
    width:auto;
    z-index:100000}

ul.menu-footer {
      text-align: center;
      margin: 0px;
      padding: 0px;
  }
  ul.menu-footer li  a {
    color: rgb(255, 255, 255);
}
.card-body{
  padding:1rem;
  line-height: 1.5rem;
}
.day{
  padding-right: 15px;
}

.lista-item {
  position: relative;
  display: block;
  padding: 2px;
  text-decoration: none;
  border: none;
}


@media (max-width:1100px) {
  .card-body{
    padding:0%;
    height: 30%;
    font-size: 1rem;
}
}

@media (max-width:780px) {
  .card-body{
    padding:0%;
    height: 25%;
 
    font-size: 1rem;
}
}

@media (max-width:600px) {
    .card-body{
      padding:0%;
      height: 30%;
      font-size: small;
  }
}